<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
</head>
<body>
    <h1>Data:</h1><br>
    <!--{% for user in users %}
        <li><a>{{ user}}</a></li>
    {% endfor %}-->
    User:<br>
    <table align="center" style="width:100%">
        <tr>
            <th>ID</th>
            <th>Permission</th>
            <th>Username</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact Phone</th>
            <th>Office Phone</th>
            <th>Extension</th>
        </tr>
        {% for user in users %}
            {% for i in user %}
                <tr>
                    <td>{{ i.id}}</td>
                    <td>{{ i.permission}}</td>
                    <td>{{ i.username}}</td>
                    <td>{{ i.password}}</td>
                    <td>{{ i.firstName}}</td>
                    <td>{{ i.lastName}}</td>
                    <td>{{ i.email}}</td>
                    <td>{{ i.contactPhone}}</td>
                    <td>{{ i.officePhone}}</td>
                    <td>{{ i.extension}}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>

    Courses:<br>
    <table align="center" style="width:100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Course Number</th>
            <th>Class Number</th>
            <th>Time</th>
            <th>Location</th>
        </tr>
        {% for courses in users %}
            {% for i in courses %}
                <tr>
                    <td>{{ i.id}}</td>
                    <td>{{ i.name}}</td>
                    <td>{{ i.courseNumber}}</td>
                    <td>{{ i.classNumber}}</td>
                    <td>{{ i.time}}</td>
                    <td>{{ i.location}}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>

    Labs:<br>
    <table align="center" style="width:100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Course Number</th>
            <th>Class Number</th>
            <th>Time</th>
            <th>Location</th>
        </tr>
        {% for courses in users %}
            {% for i in courses %}
                <tr>
                    <td>{{ i.id}}</td>
                    <td>{{ i.name}}</td>
                    <td>{{ i.courseNumber}}</td>
                    <td>{{ i.classNumber}}</td>
                    <td>{{ i.time}}</td>
                    <td>{{ i.location}}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>

    Assistant Assignments:<br>


    Instructor Assignments:<br>


    </body>
</html>