<html>

    <title>Create Course</title>

    <head></head>

    <form method="post" action="/createCourse/">
        {% csrf_token %}
        <input type="text" name="name"> Course Name<br><br>
        <input type="text" name="courseNumber">Course Number<br><br>
        <input type="text" name="classNumber">Class Number<br><br>
        <input type="text" name="time">Time<br><br>
        <input type="text" name="location">Location<br><br>
        <input type="submit" value="Create">
    </form>
</html>