<html>

    <title>Delete Course</title>

    <head></head>
<a href="/commands/">Home</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Course Number</th>
            <th>Class Number</th>
            <th>Time</th>
            <th>Location</th>
        </tr>
        {% for course in courseList %}
            <tr>
                <td>{{ course.0 }}</td>
                <td>{{ course.1 }}</td>
                <td>{{ course.2 }}</td>
                <td>{{ course.3 }}</td>
                <td>{{ course.4 }}</td>
                <td>{{ course.5 }}</td>
            </tr>
        {% endfor %}
    </table>

    <form method="post" action="/deleteCourse/">
        {% csrf_token %}
        <input type="text" name="courseID">Course ID<br><br>
        <input type="submit" value="Delete">
    </form>
</html>