<html>

    <title>Delete Lab</title>

    <head></head>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Course ID</th>
            <th>Lab Number</th>
            <th>Time</th>
            <th>Location</th>
        </tr>
        {% for lab in labs %}
            <tr>
                <td>{{ lab.0 }}</td>
                <td>{{ lab.1 }}</td>
                <td>{{ lab.2 }}</td>
                <td>{{ lab.3 }}</td>
                <td>{{ lab.4 }}</td>
                <td>{{ lab.5 }}</td>
            </tr>
        {% endfor %}
    </table>

    <form method="post" action="/deleteLab/">
        {% csrf_token %}
        <input type="text" name="labID">Lab ID<br><br>
        <input type="submit" value="Delete">
    </form>
</html>