{% load staticfiles %}
        <!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Django</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>{% include 'shell/staticfiles/style.css' %}</style>
</head>
<body style="background-color: #191919; font-family: 'Lucida Console'; color: #54a024">
<button class="button button2" onclick="window.location.href='/commands/'">Home</button>
    {% block content %}

        <form action="#" method="post">
            {% csrf_token %}
        Subject: <input type="text" name="Subject" style="width: 400px"><br>
        Message: <input type="text" name="Message"  style="width: 500px; height: 500px"><br>
        <input type="submit" value="SEND!">
        </form>
    {% endblock content %}
</body>
</html>